<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Selection Tab -->
  <ion-tab title="Sélection" icon="icon ion-camera" ui-sref="tab.selection">
    <ion-nav-view name="tab-selection"></ion-nav-view>
  </ion-tab>

  <!-- Matchings Tab -->
  <ion-tab title="Matchings" icon="icon ion-heart" ui-sref="tab.matchings">
    <ion-nav-view name="tab-matchings"></ion-nav-view>
  </ion-tab>

  <!-- Discover Tab -->
  <ion-tab title="Découverte" icon="icon ion-compass" ui-sref="tab.discover">
    <ion-nav-view name="tab-discover"></ion-nav-view>
  </ion-tab>
</ion-tabs>
